{% extends 'base.html' %}

{% block title %}
   Salt & Pepper - Homepage
{% endblock %}

{% block 'body-class' %}bg-green-apple no-bg-img{% endblock %}

{% block 'footer-style' %}sp-footer{% endblock %}

{% block content %}
<div class="row bg-green-apple">
    {% for key, value in form.errors.items %}
        <div class="alert alert-danger mt-3">
            {% if key != '__all__' %}{{ key }} {% endif %}{{ value }}
        </div>
    {% endfor %}
    <div class="col-md-12">
        {% include 'login.html' %}
    </div>
</div>
{% endblock %}