{% extends 'base.html' %}

{% block title %}
   Salt & Pepper - Homepage
{% endblock %}

{% block 'body-class' %}bg-green-apple no-bg-img{% endblock %}

{% block 'footer-style' %}{% if form.errors.items|length < 1 %}sp-footer{% endif %}{% endblock %}


{% block content %}
    <div class="row bg-green-apple">
        <div class="col-md-12">
                {% for key, value in form.errors.items %}
                    <div class="alert alert-danger mt-3">
                        {% if key != '__all__' %}{{ key }} {% endif %}{{ value }}
                    </div>
                {% endfor %}
                
            <form class="signup" id="signup_form" method="post" action="/accounts/signup/">
                {% csrf_token %}
                <p>
                    <label for="id_username">Username:</label>
                    <input type="text" class="form-control w-50 m-auto" name="username" placeholder="Username" autocomplete="username" minlength="1" maxlength="150" required="" id="id_username">
                </p>
                <p><label for="id_password1">Password:</label> <input class="form-control w-50 m-auto" type="password" name="password1" placeholder="Password" autocomplete="new-password" required="" id="id_password1"></p>
                <p><label for="id_password2">Password (again):</label> <input class="form-control w-50 m-auto" type="password" name="password2" placeholder="Password (again)" autocomplete="new-password" required="" id="id_password2"></p>
                
                <button type="submit" class="btn btn-warning">Sign Up »</button>
            </form>

        </div>
    </div>
{% endblock %}