{% extends 'base.html' %}

{% block title %}
   Salt & Pepper - Recipe details
{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="row">
      <div class="col-sm-1">

      </div>
      <div class="col-sm-10" >
        <h1>Recipes</h1>
        {% if form_valid %}
          <div>
            Updated successfully.
          </div>
        {% else %}
          <div>
            Error: Form is not valid. Please try again.
          </div>
        {% endif %}
        <br>
        <a href="{% url 'profile_page' %}"><< Go back</a>
      </div>
      <div class="col-sm-1"></div>
    </div>

</div>
{% endblock %}