{% extends 'base.html' %}

{% block title %}
   Salt & Pepper - Recipe details
{% endblock %}

{% block 'body-class' %}bg-green-apple no-bg-img{% endblock %}

{% block content %}

    <div class="row bg-green-apple">
      <div class="col-sm-1">

      </div>
      <div class="col-sm-10" >
        <h3>{{ recipe.name }}</h3>
        <div class="w-100 details-cover-img" style="background-image: url('{{ recipe.photo }}');" >
        </div>
        <p>
          {{ recipe.short_description }}
        </p>
        <p>
          {{ recipe.preparation_guide }}
        </p>
        <div class="card-icon-container"><i class="fa-solid fa-carrot"></i> {{ recipe.ideal_for }}</div> 
        <div class="card-icon-container"><i class="fa-solid fa-dumbbell"></i> {{ recipe.difficulty }}</div> 
        <div class="card-icon-container"><i class="fa-regular fa-clock"></i> {{ recipe.preparation_time }} mins</div>
      </div>
      <div class="col-sm-1"></div>
    </div>
{% endblock %}