{% extends 'base.html' %}

{% block title %}
   Salt & Pepper - Recipe details
{% endblock %}

{% block 'body-class' %}bg-green-apple no-bg-img{% endblock %}

{% block 'footer-style' %}sp-footer{% endblock %}

{% block content %}
  <div class="row bg-green-apple">
    <div class="col-sm-1">

    </div>
    <div class="col-sm-10" >
      <h1>Welcome {{ user.username }}!</h1>
      <h1>Recipes</h1>
      {% for recipe in recipes %}
        <div>
          <img src="{{ recipe.photo_cloudinary.url }}" class="img-thumbnail m-1" alt="{{ recipe.name }}" style="width:50px; vertical-align: middle;">
          {{ recipe.name }} ({{ recipe.id }}) 
          <a class="btn btn-success" href="/update-recipe/{{ recipe.id }}/">Edit</a> 
          <a class="btn btn-danger" href="/delete-recipe/{{ recipe.id }}/"  onclick="return confirm('Are you sure you want to delete?')">Delete</a>
        </div>
      {% endfor %}
      <hr />
      <a href="{% url 'new_recipe_form' %}" class="btn btn-warning">New recipe</a>
    </div>
    <div class="col-sm-1"></div>
  </div>
{% endblock %}