{% extends 'base.html' %}
{% load cloudinary %}

{% block title %}
   Salt & Pepper - Recipe details
{% endblock %}

{% block content %}
    <div class="row bg-green-apple">
      <div class="col-sm-1">

      </div>
      <div class="col-sm-10" >
        <h1>Update recipe</h1>
        
        <form action="/edit-recipe/" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="id" value="{{ recipe_id }}" />
          {{ form.as_p }}
          <input type='submit' value='Update' class="btn btn-warning" />
        </form>


      </div>
      <div class="col-sm-1"></div>
    </div>
{% endblock %}