@media only screen and (max-width: 1920px) {
body {
    background-image: url('/static/background.jpg');
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-color: #e8f0de;
    background-size: cover;
    font-family: 'Roboto', sans-serif !important;
}
}

@media only screen and (min-width: 1921px) {
body {
    background-image: url('/static/background-4k.jpg');
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-color: #e8f0de;
    background-size:contain;
    font-family: 'Roboto', sans-serif !important;
}
}

@media only screen and (min-width: 1921px) {
    .d-4k-none {
        display: none !important;
    }

    .d-4k-block {
        display: block !important;
    }
}

ul {
    margin: 0px;
}

.no-bg-img {
    background-image: none !important;
}

.navbar-nav :hover {
    background-color: #d1e3ba;
    -moz-border-radius: 15px; 
    -webkit-border-radius: 15px; 
    border-radius: 15px;
}

.sp-mini-logo {
    width: 30px;
}

.bg-green-apple {
    background-color: #e8f0de !important;
}

.row {
    background-color: #f4f4f4;
    padding-left: 30px;
    padding-right: 30px;
}

.col-md-12 {
    text-align: center;
}

.background-cover-box {
    height: 200px;
}

.sp-logo {
    width: 50px;
}

/*.nav-link {
    font-size: 20px !important;
}*/

#background-cover-box-title {
    background-color: rgba(255, 255, 255, 0.8);
    width: 300px;
    margin: 0 auto;
    margin-top: 100px !important;
    text-align: center;
    padding: 15px;
    /*font-family: 'Roboto';*/
}

.card-icon-container {
    width: 33.3%;
    float: left;
}


.clearfix-div {
    clear: both;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.btn {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all300ms ease;
    border-radius: 20px;
  }
  

.details-cover-img {
    height: 400px;
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sp-footer {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
}

.sp-footer div.row {
    margin: 0px;
}

.footer-icon {
    color: #000;
}

.footer-icon:hover {
    color: #000;
}

#footer-placeholder {
    height: 111px;
}

.enquiry-div i {
    font-size: 80px;

}

#contact-text {
    text-align: center;
    display: block;
    padding: 1em 0em;
    font-size: 30px;
    text-transform: uppercase;
}

#contact-section {
    padding-bottom: 0;
    text-align: center;
    overflow: hidden;
}

.contact-content {
    display: flex;
    gap: 1rem;
    text-align: left;
    padding: 0 0.6rem;
}

.enquiry-div {
    width: 50%;
    grid-template-columns: 1fr;
}

.enquiry-div label {
    display:block;
}

.message-us {
    grid-column-start: 1;
    grid-column-end: 2;
}

.message-us-header {
    text-align: center;
    color: #000;
    margin-bottom: 1em;
    font-size: 25px;
}

.text-input {
    width: 60%;
    height: 1.6rem;
    margin: 5px 0 1.6rem 0;
    border: 1px solid #000;
    border-radius: 2px;
}

.number-input {
    width: 30%;
    height: 1.6rem;
    margin: 5px 0 1.6rem 0;
    border: 1px solid #000;
    border-radius: 2px;
}


.text-area {
    margin: 0;
    width: 100%;
    border: 1px solid #000;
    border-radius: 2px;
}

.contact-us-button {
    background: #bda8a8;
    background-image: -webkit-linear-gradient(top, #bda8a8, #524949);
    background-image: -moz-linear-gradient(top, #bda8a8, #524949);
    background-image: -ms-linear-gradient(top, #bda8a8, #524949);
    background-image: -o-linear-gradient(top, #bda8a8, #524949);
    background-image: linear-gradient(to bottom, #bda8a8, #524949);
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-left: 40%;
}

#contact-details {
    height:100%;
    width: 100%;
    display: grid;


}

.contact-details {
    justify-self: center;
    text-align: center;

}

.contact-table {
    text-align: center;
}

#google-maps {
    width: 100%;
    height: 25em;
    border: none;

}
