body {
    background-image: url('/static/background.jpg');
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif !important;
}

ul {
    margin: 0px;
}

.navbar-nav :hover {
    background-color: #d1e3ba;
    -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px;
}

.sp-mini-logo {
    width: 30px;
}

.bg-green-apple {
    background-color: #e8f0de !important;
}

.row {
    background-color: #f4f4f4;
    padding-left: 30px;
    padding-right: 30px;
}

.col-md-12 {
    text-align: center;
}

.background-cover-box {
    height: 200px;
}

.sp-logo {
    width: 50px;
}

/*.nav-link {
    font-size: 20px !important;
}*/

#background-cover-box-title {
    background-color: rgba(255, 255, 255, 0.8);
    width: 300px;
    margin: 0 auto;
    margin-top: 100px !important;
    text-align: center;
    padding: 15px;
    /*font-family: 'Roboto';*/
}

.card-icon-container {
    width: 33.3%;
    float: left;
}


.clearfix-div {
    clear: both;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.details-cover-img {
    height: 400px;
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}