.card-icon-container {
    width: 33.3%;
    float: left;
}


.clearfix-div {
    clear: both;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.details-cover-img {
    height: 400px;
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}